**/.DS_Store
.DS_Store

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Ignore virtual environments
.venv/
env/
venv/
*.egg-info/

# Ignore Jupyter notebook checkpoints and outputs
.ipynb_checkpoints/
*.nbconvert.ipynb

# Ignore large output files
*.h5
*.edf
*.fif
*.set
*.vhdr
*.eeg
*.bdf
*.tsv.gz
*.nii
*.nii.gz

# Ignore temp files
*.log
*.tmp
*.bak

# Ignore datafiles
data/

# RNA analysis
.snakemake
alignment/
featurecounts/
markdup
metrics
slurm_logs
trimming
*.out
.Rproj.user
*.Rproj
